/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --primary-color: #4caf50; /* Green for success */
    --secondary-color: #f44336; /* Red for failure */
    --text-color: #333;
    --background-color: #f9f9f9;
    --card-background: #fff;
    --border-radius: 10px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }