  <br><br><br><br><br><br>
  <br><br>
  <br>
    <div class="avatar-selection-container">
        <h2 id="Title">Select Your Avatar</h2>
        <br><br>
        <div class="avatar-grid">
          <img
            *ngFor="let avatar of avatars"
            [src]="avatar"
            [class.selected]="avatar === selectedAvatar"
            (click)="selectAvatar(avatar)"
            class="avatar-option"
          />
        </div>
        <button (click)="saveAvatar()" class="save-button">Save Avatar</button>
      </div>