<br><br><br><br><br><br><br><div class="container mt-4">
    <h2 class="text-center mb-4">Forums</h2>
    <div *ngIf="Isteacher()">
      <button class="btn btn-primary btn-lg custom-create-forum-btn" (click)="openCreateForumDialog()">
        <i class="fas fa-plus-circle"></i> Create Forum
      </button>
    
  </div><br><div class="row">
      <div *ngFor="let forum of forums" class="col-md-4 mb-3">
        <div class="card h-100 position-relative">
          <button 
          *ngIf="getUserID() === forum.userUrl" 
          class="btn-close position-absolute top-0 end-0 m-2 text-danger" 
          (click)="deleteForum(forum.id)" 
          aria-label="Close">
        </button>
          <div class="card-body">
            <h5 class="card-title">{{ forum.title }}</h5>
            <p class="card-text text-muted">{{ forum.description }}</p>
          </div>
          <div class="card-footer text-center">
            <a [routerLink]="['/forum', forum.id]" class="btn btn-primary">View Forum</a>
        
            <span *ngIf="getUserID()=== forum.userUrl">

            <a *ngIf="Isteacher()" (click)="openeditForumDialog(forum,forum.id)" class="btn btn-secondary">Edit Forum</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>