<br><br><br><br><br><br><br><br><p>complete-profile works!</p>
<div class="profile-form">
    <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)">
      <div>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" [(ngModel)]="profileData.adress" required />
      </div>
      <div>
        <label for="address">City:</label>
        <input type="text" id="address" name="address" [(ngModel)]="profileData.city" required />
      </div>
      <div>
        <label for="address">Country :</label>
        <input type="text" id="Country" name="address" [(ngModel)]="profileData.country" required />
      </div>
      <div>
        <label for="birthdate">Birthdate:</label>
        <input type="date" id="birthdate" name="birthdate" [(ngModel)]="profileData.birthDate" />
      </div>
  
      <div>
        <label for="facebook">Phone Number:</label>
        <input type="text" id="facebook" name="facebook" [(ngModel)]="profileData.phoneNumber" />
      </div>
      <div>
        <label for="twitter">Facebook Profile:</label>
        <input type="text" id="twitter" name="twitter" [(ngModel)]="profileData.facebookURL" />
      </div>
  
      <div>
        <label for="twitter">Github Profile:</label>
        <input type="text" id="twitter" name="twitter" [(ngModel)]="profileData.githubURL" />
      </div>
      <div>
        <label for="twitter">Linkdin Profile:</label>
        <input type="text" id="twitter" name="twitter" [(ngModel)]="profileData.linkedinURL" />
      </div>
      <div>
        <label for="twitter">Twitter URL:</label>
        <input type="text" id="twitter" name="twitter" [(ngModel)]="profileData.twitterURL" />
      </div>
  
      <div>
        <label for="twitter">Instagram Profile:</label>
        <input type="text" id="twitter" name="twitter" [(ngModel)]="profileData.instagramURL" />
      </div>
  
  
     
  
      <button type="submit">Save</button>
    </form>
  </div>
  