.logo-img {
    width: 100px; /* Adjust this value as needed */
    height: auto; /* Maintains aspect ratio */
  }
  a {
    text-decoration: none;
  }

  .chat-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
  }