.quiz-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .quiz-list-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .quiz-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .quiz-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .quiz-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .quiz-duration {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: large;
    
  }
  
  .quiz-start-button {
    align-self: flex-start;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .quiz-start-button:hover {
    background-color: #45a049;
  }
  