




  <br><br><br><br><br><br>
<div class="wrapper">
    <h1>My Learning  </h1>
    <div class="course-container">
        <div 
          class="course-card" 
          *ngFor="let course of courses" 
          [style.backgroundImage]="'url(' + course.course.imageUrl + ')'"
        >
          <div class="course-content">
            <img [src]="course.course.imageLogoUrl" alt="{{ course.course.title }}" class="course-logo" />
            <p>{{ course.course.title}}</p>
            <span>{{course.course.author}}</span>
          </div><div class="progress-bar-container">
            <div class="progress-bar">
              <div
                class="progress-bar-fill"
                [style.width]="(progressMap[course.course.id] || 0) + '%'"
              ></div>
            </div>
            <p class="progress-text">{{ progressMap[course.course.id] || 0 }}% Completed</p>
          </div>
          <div class="course-hover-content">
          <button class="enroll-button" (click)="StartCourse(course.course.id)">Start Course </button>
        </div>
        </div>
      </div>
    
    <div *ngIf="courses.length === 0">
        <p>No courses found. Enroll in a course to see it here!</p>
      </div>
</div>
